{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "react",
    "react-native",
    "import",
    "prettier"
  ],
  "extends": [
    "@react-native-community",
    "plugin:prettier/recommended",
    "prettier/react"
  ],
  "settings": {
    "parser": "typescript-eslint-parser",
    "rules": {
      "import/no-unresolved": "error"
    },
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "typescript": {}
    },
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    }
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "optionalChaining": true,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "prettier/prettier": "error",
    "react-native/no-inline-styles": 0,
    "react-native/no-unused-styles": "error",
    "react-native/no-single-element-style-arrays": "error",
    "react/jsx-no-bind": "warn",
    "import/no-cycle": "error",
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "groups": [
          ["builtin", "external"],
          ["internal", "sibling", "parent", "index"],
          "unknown"
        ]
      }
    ]
  }
}
